version: '3.2'

services:
  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    depends_on:
      - app
    volumes:
      - ./app.template:/etc/nginx/conf.d/app.template
    ports:
      - "80:80"
    environment:
      - NGINX_HOST=localhost
      - NGINX_PORT=80
      - WEB_REVERSE_PROXY_PORT=3005
    command: /bin/bash -c "envsubst < /etc/nginx/conf.d/app.template > /etc/nginx/conf.d/default.conf && exec nginx -g 'daemon off;'"
    restart: always
  app:
    build:
      context: .
      dockerfile: Dockerfile.app
    command: nodemon --watch 'src/**/*.ts' --ignore 'src/**/*.spec.ts' --exec 'ts-node' src/index.ts
    restart: always
    depends_on:
      - zookeeper
      - kafka
      - cassandra
    volumes:
      - /app/node_modules
      - .:/app
  zookeeper:
    build:
      context: .
      dockerfile: Dockerfile.zookeeper
    ports:
      - "2181:2181"
  cassandra:
    build:
      context: .
      dockerfile: Dockerfile.cassandra
    ## to change container version or tag using args uncomment following lines
    #   args:
    #     ver: 1
    ports:
      - '7000:7000'
      - '7001:7001'
      - '7199:7199'
      - '9042:9042'
      - '9160:9160'
    restart: always
    volumes:
      - ./data/cassandra:/var/lib/cassandra
  kafka:
    build:
      context: .
      dockerfile: Dockerfile.kafka
    links:
      - cassandra:cassandra
      - zookeeper:zookeeper
    ports:
      - "9092:9092"
    environment:
      HOSTNAME_COMMAND: "route -n | awk '/UG[ \t]/{print $$2}'"
      KAFKA_LOG_DIRS: /kafka
      KAFKA_BROKER_ID: 1
      # KAFKA_CREATE_TOPICS: test-topic-1:1:2,test-topic-2:1:2,test-topic-3:1:2
      # KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'false'
      KAFKA_ADVERTISED_HOST_NAME: _{HOSTNAME_COMMAND}
      KAFKA_ADVERTISED_PORT: 9092
      KAFKA_LOG_RETENTION_HOURS: "168"
      KAFKA_LOG_RETENTION_BYTES: "100000000"
      KAFKA_ZOOKEEPER_CONNECT:  zookeeper:2181